/*  ========= header style =========== */

.header{
  height: fit-content;
  position: absolute;
  width: 100%;
  color: white;
  margin-top: 10px;
}

.headerItemParent{ 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.layoutHeaderMenuItemLink{
  text-decoration: none;
}

.hiddenText{
  display:none;
}

.firstItemParent{
 
  margin-left: 10px;
}

.middleItemParent{
  width: 23%;
  display: flex;
  justify-content: space-between;
}

.lastItemParent{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 10%;
  margin-right: 10px;
}

.LinkTextDecorationNone{
  text-decoration: none;
  color: white
}

.layoutLoginLink{
  text-decoration: none;
  color: white;
  margin-right: 20px;
}

.LinkTextDecorationNone:hover{
  color: yellow;
}

.logo{
  color: white;
  margin-left: 10px;
}

.layoutHeaderSidebarCartParent{
  width: 400px;
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  margin-top: 10px;  
}

.layoutHeaderSidebar{
  background-color: rgb(120, 92, 92);
  color: black;
}

.layoutBodyMediaQuery{
  display: none;
}


/*
.layoutHeaderMenu{
 
}

.layoutHeaderSubMenu{
 
}

.layoutHeaderMenuItem{
}*/

/* ============ independent header ========= */

.independentHeader{
  background-color: rosybrown;
  height: 20px;
}


.dropdownMenuParent{
  display: none;
}


/* =================== header media-query ==================== */
/*
@media (max-width: 767px){
  .dropdownMenuParent{
    display: block;
  }

  .layoutHeaderNav{

  }

  .layoutMainTag{
 
  }

  .layout{
    width: 100%;
  }

  .home{
    width: 1400px;
    min-height: fit-content;
    
  }

  
.layoutMainTag{
  min-height: 1000px; 

}
  

  .BackgroundImg{
    min-height: 2500px;
   }

   .popularFoodComponent{
     min-height: 3800px;
   }

   .popularFoodComponentTitle{
    font-size: 100px;
    margin-right: 20px;
   }

   

   .popularFoodComponentParent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
   margin-top: 5px;
   padding-left: 1px;
  min-height: 100%;
  width: 100%
  }



   .popularFoodComponentItemsParent{
    border: 2px solid transparent;
    position:static;
    background-color: rosybrown;
   
    justify-content: space-between;
    width: 1300px;
    min-height: 100px;
    margin-right: 100px;
    border-radius: 10px;
   }

   .popularFoodComponentImage{
   width: 600px;
   height: 600px;
  
   }

   .popularFoodComponentImageParent{
    border: 5px solid yellow;
    width: 610px;
    height: 620px;
    border-radius: 50%;
   }

   .popularFoodComponentItemsUl{
    font-size: 100px;
   }

   .popularFoodComponentItemsButton{
    width: 600px;
    height: 120px;
    font-size: 100px;
    padding-bottom: 5px;
    border-radius: 10px;
   }

   .popularFoodComponentItemsButtonLi{
    border: 2px solid red;
    width: 600px;
   }

   /* ========= media query review ============ */
/*
   .Review{
    border: 5px solid red;
    height: 700px;
   }

   .ReviewTitle{
    border: 2px solid aqua;
   }

   .ReviewItemsParent{
    border: 2px solid blue;
    height: 700px;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
   }

   .ReviewItems{
    border: 5px solid rgb(43, 226, 52);
    width: 350px;
    height: 200px;
    flex-wrap: wrap;
   }
   
   .ItemTitle{
    font-size: 100px;
   }

}
*/

 /* small screen */ 

 @media (min-width: 768px) and (max-width: 992px){
   
}




/* =========== background-img ======= */

.BackgroundImg{
 /* background-image: url("../public/images/background-img.jpg"); */
 /* background-image: url("../public/images/food11.jpg");  */
  background-image: url("../public/images/backgroun-img2.jpg");
  background-attachment:fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30%;
  height: 100vh;
  width: 100%;
 
}

.BackgroundImgText{
  color: white;
  border: 1px solid transparent;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.BackgroundImgTextH2{
  font-size: 60px;
  font-weight: bolder;
 /* font-family:'Courier New', Courier, monospace;*/
 font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(100, 76, 76);
  background-color: rosybrown;
  border-radius: 20px;
}

.BackgroundImgTextH2:before{
  content: '';
  left: 110%;
  width: 120%;
  height: 100%;
  background: linear-gradient(90deg, transparent 0%, #000 5%, #000 100%);
  animation: animate 5.5s linear forwards;
}
/*
@keyframes animate
{
  0%
  {
    left: 110%
  }
  100%
  {
    left: 20%
  }
}*/


/* =========== menu background-img ======= */

.menuBackgroundImg{
  background-image: url("../public/images/food9.jpg"); 
 /* background-image: url("../public/images/backgroun-img2.jpg");*/
   background-size: cover;
   background-attachment: fixed;
   height: 100vh;
 }
 

/* ============ popular-Food Component ============= */

.popularFoodComponent{
  background-color: rgb(135, 96, 96);
  height: 250px;
}

.popularFoodComponentTitle{
  color: white;
/*  font-size: 20px;*/
  font-weight: 20px;
  border: 1px solid transparent;
  padding-left: 45%;
  padding-top: 10px;
}

.popularFoodComponentParent{
  display: flex;
  justify-content: space-between;
 margin-top: 50px;
 padding-left: 8%;
}

.popularFoodComponentItemsParent{
  position: relative;
  background-color: rosybrown;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  min-width: 300px;
}

/*
.popularFoodComponentImageParent{
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
}*/

.popularFoodComponentImage{
  border-radius: 50%;
  border: 2px solid red;
  margin-top: 15px;
}

.popularFoodComponentItemsUl{
  color: white;
  list-style: none;
  font-weight: bold;
}

.popularFoodComponentLink{
  text-decoration: none;
}

.popularFoodComponentItemsButton{
  background-color: royalblue;
  color: white;
  font-weight: bold;
  border-color: transparent;
  border-radius: 10px;
  min-width: 100px;
  cursor: pointer;
  margin-top: 10px;

}

.popularFoodComponentItemsButton:hover{
  background-color: rgb(37, 60, 128);
}

/* =========== popular-paltes =======*/

.PopularPlatesParent{
  margin-top: -230px;
  position: relative;
  min-height: 230px;
  width: 400px;
  margin-left: 35%;
  /*display: flex;
  justify-content: space-around;
  background-color: black;*/
  
  
}

.PopularPlatesCard1{
  background-image: url("../public/images/food1.jpg");
  background-size: cover;
  margin-top: 10px;
  width: 250px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid yellow;
 margin-left: 70px;
}


.PopularPlatesCard2{
  background-image: url("../public/images/food2.jpg");
  background-size: cover;
  margin-top: 10px;
  width: 250px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid yellow;
 margin-left: 70px;
}


.PopularPlatesCard3{
  background-image: url("../public/images/food3.jpg");
  background-size: cover;
  margin-top: 10px;
  width: 250px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid yellow;
 margin-left: 70px;
}


.PopularPlatesCard4{
  background-image: url("../public/images/food4.jpg");
  background-size: cover;
  margin-top: 10px;
  width: 250px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid yellow;
 margin-left: 70px;
}


.PopularPlatesCard5{
  background-image: url("../public/images/food5.jpg");
  background-size: cover;
  margin-top: 10px;
  width: 250px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid yellow;
 margin-left: 70px;
}


.PopularPlatesCard6{
  background-image: url("../public/images/food6.jpg");
  background-size: cover;
  margin-top: 10px;
  width: 250px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid yellow;
 margin-left: 70px;
}


.PopularPlatesCard7{
  background-image: url("../public/images/food7.jpg");
  background-size: cover;
  margin-top: 10px;
  width: 250px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid yellow;
 margin-left: 70px;
}


.PopularPlatesCard8{
  background-image: url("../public/images/food8.jpg");
  background-size: cover;
  margin-top: 10px;
  width: 250px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid yellow;
 margin-left: 70px;
}

/* ================ About us ============== */

.aboutComponent{
  background-color: rosybrown;
}

.aboutComponentItemsParent{
  display: flex;
}

.aboutComponentItemsParent{
  background-color: rgb(97, 72, 72);
  width: 70%;
}

.aboutComponentBackgroundImage{
  background-image: url("../public/images/about-us.jpg");
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  width: 500px;
  height: 500px;
 
}

.aboutComponentTextParent{
  width: 400px;
  margin-left: 50px;
}

.aboutComponentTextTitle{
  color: white;
  margin-left: 30%;
  font-size: 30px;
  font-weight: bolder;
}

.aboutComponentText{
  overflow-wrap: break-word;
  color:white;
  font-size: 20px;
  margin-top: 20px;
  font-weight: bold;
}

/* ============= Review =============== */

.Review{
  background-color: RosyBrown;
  border: 1px solid rosybrown;
}

.ReviewTitle{
  color: white;
  margin-left: 35%;
  font-size: xx-large;
}

.ReviewItemsParent{
 
  min-width: 35%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-left: 250px;
  margin-right: 250px;
 
}

.ReviewItems{
 /* background-color: #92a8d1;*/
 background-color: rgb(31, 18, 18);
  opacity:0.6;
  border-radius: 5px;
  min-width: 100px;
  border: 5px solid;
  border-color: transparent transparent rgb(255, 115, 0) transparent;

}

.ItemTitle{
  font-size: x-small;
  font-weight: bolder;
  color:rgb(255, 115, 0);
  margin-left: 10px;
}



.reviewItemsNumber{
  font-weight: bolder;
  color: white;
  margin-left: 10px;
  margin-bottom: 5px;
  width: 50px;
  display: flex;
  justify-content: space-between;
}

.reviewItemsNumberIcons{
 
  padding-top: 3px;
}

/* ===============*/


/* ============== only for media query ============ */
/*
.layoutHeaderSidebarCartParentMediaQuery{
  display: none;
}
*/


.reviewItemsIconsMediaQuery{
  display: none
}


@media (max-width: 767px){

  /* ======== header ================*/
 
 .layoutHeaderSidebarCartParentMediaQuery{
  display: contents;

 }

 .layoutHeaderSidebarCartParent{
  display: none;
 }

 .layoutLoginLink{
  font-size: 50px;
 }





  /* ======== */
  /*.layoutHeaderSidebarCartParent{
    display: none;
  }*/
/*
  .layoutHeaderNav{

  }

  .layoutMainTag{
 
  }*/

  .layout{
    width: 100%;
  }

  .home{
    width: 1400px;
    min-height: fit-content;
    
  }

  
.layoutMainTag{
  min-height: 1000px; 

}
  

  .BackgroundImg{
    min-height: 2500px;
   }

   .popularFoodComponent{
     min-height: 3800px;
   }

   .popularFoodComponentTitle{
    font-size: 100px;
    margin-right: 20px;
   }

   

   .popularFoodComponentParent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
   margin-top: 5px;
   padding-left: 1px;
  min-height: 100%;
  width: 100%
  }



   .popularFoodComponentItemsParent{
    border: 2px solid transparent;
    position:static;
    background-color: rosybrown;
   
    justify-content: space-between;
    width: 1300px;
    min-height: 100px;
    margin-right: 10px;
    border: 1px solid rosybrown;
    border-radius: 30px;
   }

   .popularFoodComponentImage{
   width: 600px;
   height: 600px;
   border: 8px solid red;
   }

   .popularFoodComponentImageParent{
    border: 1px solid transparent;
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
   }

   .popularFoodComponentItemsUl{
    font-size: 100px;
   }

   .popularFoodComponentItemsButton{
    width: 600px;
    height: 120px;
    font-size: 100px;
    padding-bottom: 5px;
    border: 1px solid rosybrown;
    border-radius: 30px;
   }

   
   /* ========= media query review ============ */

   .Review{
    
    height: 900px;
   }

   .ReviewTitle{
   
    height: 100px;
    font-size: 60px;
   }

   .ReviewItemsParent{
   
    height: 700px;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
   }

   .ReviewItems{
  
    width: 350px;
    height: 300px;
    flex-wrap: wrap;
   }
   
   .ItemTitle{
    font-size: 40px;
    margin-left: 10px;
   }

   .reviewItemsNumber{
    width: fit-content;
    height: fit-content;
    font-size: 100px;
    margin-left: 30px;
   }

   .reviewItemsIcons{
   display: none;
   
   }

   .reviewItemsIconsMediaQuery{
    display: block;
    margin-right: 15px;
    margin-top: 30px;
   }

  

   

}

 /* small screen */ 

 @media (min-width: 768px) and (max-width: 992px){
   
}


/* ================== Footer ====================== */

.footer{
  background-color: black;
  border: 1px solid black;
  position: relative;
  display: flex;
  justify-content: flex-start;
  color: white;
  
}

.footerItemsParent{
 
  color: white;
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin-left: 70px;
  position: relative;
}

.footerServicesItemsParent{
  border: 1px solid transparent;
}

.footerServicesTitle{
  background-color: transparent;
  padding-left: 30px;
  font-size: xx-large;
}

.footerItemsUl{
  list-style: none;
}

.footerItemsUl li{
  margin-bottom: 10px;
  cursor: pointer;
}

.footerMessageUs{
  border: 1px solid transparent;
  margin-left: 80px;
  display: flex;
  flex-direction: column;
}

.footerMessageUsTitle{
  font-size: x-large;
}

.footerMessageUsInput{
  width: 250px;
  height: 50px;
  border-radius: 5px;
}

.footerMessageUsButton{
  background-color: #0070f3;
  width: 250px;
  margin-top: 5px;
  color: white;
  font-size: xx-large;
  border-radius: 5px;
  cursor: pointer;
}

.footerMessageUsButton:hover{
  opacity: 0.8;
}

.footerAuthentication{
  margin-left: 300px;
}

.footerAuthenticationLogin{
  background-color: green;
  color: white;
  width: 150px;
  border-radius: 10px;
  margin-bottom: 5px;
  padding-left: 50px;
 
}

.footerAuthenticationSignup{
  padding-left: 50px;
  background-color: #0070f3;
  color: white;
  width: 150px;
  border-radius: 10px;
}

.footerAuthenticationLink{
  text-decoration: none;
}

/* ================ footer media query ================= */

@media (max-width: 767px){
.footer{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
}


.footerItemsParent{

  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  position: relative;
  font-size: 100px;
}


.footerServicesTitle{
  font-size: 90px;
  color: rosybrown
}

.footerMessageUs{
 
  width: 80%;
  margin: 0 auto;
  
}

.footerMessageUsTitle{
  font-size: 90px;
}

.footerMessageUsInput{
  width: 80%;
  height: 90px;
  font-size: 50px;
}

.footerMessageUsButton{
  width: 80%;
  height: 90px;
  font-size: 70px;
}

.footerAuthentication{
 width: 80%;
  margin: 20px auto;
  
}

.footerAuthenticationLogin{
  width: 100%;
  margin-top: 10px;
  height: 100px;
  font-size: 60px;
}

.footerAuthenticationSignup{
  width: 100%;
  margin-top: 10px;
 
  height: 100px;
  font-size: 60px;
  
}

}

/* ================= menu =============== */

.pageMenu{
  background-color: rosybrown;
  display: flex;
  gap: 100px;
  overflow-x: scroll;
}

.menu{
  border: 1px solid transparent;
  background-color: rosybrown;
  width: fit-content;
  min-height: fit-content;
  margin-bottom: 20px;
  margin-top: 20px;

}

.menuMainLink{
  text-decoration: none;
  height: fit-content;
}

.menuImageParent{
  border: 5px solid transparent
}

.menuItemsParent{
  color: white;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menuButton{
  width: 70%;
  height: 30px;
  margin-top: 20px;
  margin-left: 50px;
  background-color: yellow;
  font-size: larger;
  border-color: transparent;
  border-radius: 5px;
  cursor: pointer
  
}


.pageMenu::-webkit-scrollbar{
  width: 1rem;
}

.pageMenu::-webkit-scrollbar-track{
  background: rhl(120 75% 50% / 1);
  background-color: rgb(67, 64, 64);
  border-radius: 100vw;
  margin-block: .5em
}

.pageMenu::-webkit-scrollbar-thumb{
  background: htl(120 100% 20% / 1);
  background-color: yellow;
  border-radius: 100vw;
 
}

.pageMenu::-webkit-scrollbar{
  width: 1rem;
}


.pageMenu::-webkit-scrollbar-thumb:hover{
  background-color: rgb(127, 127, 24);
}


/* =============== plateDetail ================= */
.plateDetailNotFoundParent{
  height: 425px;
}
.plateDetailNotFound{
  color: red;
  font-size: xx-large;
  font-weight: 900;
  margin-left: 10px;

}

.plateDetailNotFoundLink{
  margin-left: 10px;
}

.plateDetailItemsParent{
  display: flex;
}

.plateDetailImageParent{
  width: fit-content;
  height: 600px;
}
.plateDetailImage{
  height: 100%;
}

.plateDetailItem{
  border: 2px solid rosybrown;
  padding-top: 20px;
  padding-left: 10px;
  width: 100%;
  background-color:rosybrown;
  color: white;
  font-weight: bolder;
}

.plateDetailDescription{
  border: 1px solid rosybrown;
  width: 300px;
  margin-top: 20px
}

.plateDetailButton{
  background-color: royalblue;
  color: white;
  border-color: transparent;
  border-radius: 10px;
  height: fit-content;
  width: fit-content;
  margin-top: 20px;
  width: 300px;
  cursor: pointer;
  font-weight: bolder;
}

.plateDetailButton:hover{
  opacity: 0.7;
}

/* ================= pagesCart ===================== */

.pagesCart{
  background-color: rosybrown;
 position: relative;
}
.pagesCartBody{
  background-color: rosybrown;
  margin-top: 50px;
  position: relative;
  min-height: 369px;
}

.pagesCartFooter{
  bottom: 0;
  width: 100%;
  
}

.pagesCartCheckout{
  position: fixed;
  background-color: rgb(127, 95, 95);
  border-radius: 10px;
  width: 300px;
  height: 200px;
  right: 10px;
  top: 90px;
}

.pagesCartCheckoutTitle{
  color: white;
  border: 2px solid transparent;
  border-bottom-color: black;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-weight: bolder;
  font-size: xx-large;
}

.pagesCartCheckoutTotal{
  color: white;
  border: 2px solid transparent;
  border-bottom-color: black;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-weight: bolder;
  margin-top: 10px
}

.pagesCartCheckoutbtn{
  background-color: royalblue;
  width: 80%;
  height: 30px;
  margin-left: 29px;
  margin-top: 80px;
  color: white;
  border-radius: 10px;
  border-color: transparent;
  font-weight: bolder;
  cursor: pointer;
}

.pagesCartCheckoutbtn:hover{
  background-color: rgb(28, 51, 117);
}


/* =============== componentCart ============= */
/*
.componentCart{
 
}*/
.componentCartUl{
  list-style-type: none;
  border: 5px solid transparent;
  border-bottom-color: black;
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  height: fit-content;
}


.componentCartLiImage{
  border: 3px solid yellow;
  border-radius: 50%;
}

.componentCartulText{
  margin-top: 10px;
  height: fit-content;
  font-weight: bolder;
}

/* ============== checkout ============== */

.pagesCheckoutBody{
  background-color: rosybrown;
  min-height: 417px;
}

.componentCheckoutForm{
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: rgb(122, 91, 91);
  display: flex;
  flex-direction: column;
  width: 500px;
 height: fit-content;
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content: space-between;
}

.checkoutComponent{
  display: flex;
  justify-content: center;
}

.checkoutComponentFormButton{
  background-color: royalblue;
  color: white;
  width: 60%;
  height: 30px;
  border: 1px solid transparent;
  border-radius: 10px;
  margin-left: 20%;
  margin-bottom: 20px;
  font-weight: bolder;
  font-size: large;
}

.checkoutComponentFormInput{
  width: 90%;
  margin-left: 10px;
 height: 30px;
 border: 1px solid transparent;
 border-radius: 10px;
 background-color: rgb(228, 183, 183);
}

.checkoutComponentFormText{
  margin-left: 10px;
  font-size: larger;
  font-weight: bold;
  color: white
}

.componentCheckoutFormTitle{
  margin-left: 30%;
  font-size: xx-large;
  font-weight: bolder;
  color: white;
}

.checkoutComponentFormRadioTitle{
  color: white;
  font-weight: bolder;
  margin-left: 20px;
}

.checkoutComponentFormRadioLebel{
  color: white;
  font-weight: bold;
 
}

/* */
/*
.componentCartModal{
 
}*/
/*
.componentCartModalIcon{
  position: absolute;
  margin-bottom: 200px;
}*/


/* ================= place order ===================== */

.placeOrderPageBody{
  background-color: rosybrown;
  min-height: 483px;
}

.placeOrderComponent{
 
  display: flex;
 flex-direction: column;
 justify-content: space-between;
  
}

.placeOrderComponentParent{
  width: fit-content;
  display: flex;
  align-items: flex-start;
  height: fit-content;
 
}

.placeOrderComponentTitle{
  color: rgb(120, 86, 86);
  font-size: xx-large;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 10px;
}

.placeOrderComponentInfo{
  border: 5px solid transparent
}

.placeOrderComponentInfoUl{
  list-style-type: none;
 padding-left: 10px;
}

.placeOrderComponentInfoUl li{
  color: white;
  font-size: xx-large;
  font-weight: bolder;
  background-color: rgb(109, 78, 78);
  border-radius: 5px;
  margin-top: 10px;
  padding-left: 5px;
}

.placeOrderComponentItemsTitls{
  font-size: xx-large;
  font-weight: bolder;
  color: white;
  margin-left: 30px;
}

.placeOrderComponentItems{
  width: 600px;
}

.placeOrderComponentItemsUl{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:  rgb(109, 78, 78);
  border-radius: 10px;
  margin-left: 20px;
}

.placeOrderComponentItemsImage{
  border: 2px solid yellow;
  border-radius: 20px;
}

.pagesPlaceOrderCheckout{
  position: fixed;
  background-color: rgb(127, 95, 95);
  border-radius: 10px;
  width: 300px;
  height: 200px;
  right: 10px;
  top: 90px;
}

.pagesPlaceOrderCheckoutTitle{
  color: white;
  border: 2px solid transparent;
  border-bottom-color: black;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-weight: bolder;
  font-size: xx-large;
}

.pagesPlaceOrderCheckoutTotal{
  color: white;
  border: 2px solid transparent;
  border-bottom-color: black;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-weight: bolder;
  margin-top: 10px
}

.pagesPlaceOrderCheckoutbtn{
  background-color: royalblue;
  width: 80%;
  height: 30px;
  margin-left: 29px;
  margin-top: 80px;
  color: white;
  border-radius: 10px;
  border-color: transparent;
  font-weight: bolder;
  cursor: pointer;
}

.pagesPlaceOrderCheckoutbtn:hover{
  background-color: rgb(28, 51, 117);
}


/* =================== login =====================*/

.loginPage{
  background-color: rosybrown;
}

.loginPageBody{
  min-height: 485px;
}

.loginComponent{
  display: flex;
  justify-content: center;
}

.loginComponentForm{
  background-color: rgb(122, 91, 91);
  border: 2px solid rgb(122, 91, 91);
  border-radius: 10px;
  width: 300px;
  min-height: 300px;
  margin-top: 30px;

}

.loginComponentFormTitle{
  color: white;
  margin-left: 30%;
}

.loginComponentFormDiv{
  margin-top: 10px;
}

.loginComponentFormInput{
  width: 290px;
  background-color: rosybrown;
  border-radius: 10px;
  margin-left: 5px;
  outline: none;
}

.loginComponentFormLabel{
  color: white;
  margin-left: 5px;
}

.loginComponentFormButton{
  width: 200px;
  border-radius: 10px;
  background-color: rosybrown;
  cursor: pointer;
  color: white;
  margin-top: 20px;
  margin-left: 5px;
  font-size: larger;
  font-weight: bold;
}

.loginComponentFormButton:hover{
  background-color: rgb(106, 81, 81);
}

.loginComponentFormLinkParent{
  margin-left: 5px;
}

.loginComponentFormSignInwithGoogleParent{
  margin-top: 10px;
}

.loginComponentFormSignInwithGoogle{
 
  background-color: rosybrown;
  height: 30px;
  border: 2px solid rosybrown;
  border-radius: 10px;
  margin-top: 5px;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}

.loginComponentFormSignInwithGoogleLink{
  text-decoration: none;
  color: white;
  margin-left: 5px;
}


/* =================== sign up ======================= */

.signupPageBody{
  background-color: rosybrown;
  min-height: 483px;
  padding-bottom: 20px;
}

.signupComponent{
  display: flex;
  justify-content: center;
}

.signupComponentForm{
  background-color: rgb(122, 91, 91);
  border: 2px solid rgb(122, 91, 91);
  border-radius: 10px;
  width: 300px;
  min-height: 400px;
  margin-top: 30px;

}

.signupComponentFormTitle{
  color: white;
  margin-left: 30%;
  font-size: xx-large;
}

.signupComponentFormDiv{
  margin-top: 10px;
  color: white
}

.signupComponentFormInput{
  width: 290px;
  background-color: rosybrown;
  border-radius: 10px;
  margin-left: 5px;
  outline: none;
}

.signupComponentFormButton{
  width: 200px;
  border-radius: 10px;
  background-color: rosybrown;
  cursor: pointer;
  color: white;
  margin-top: 40px;
  margin-left: 40px;
  font-size: larger;
  font-weight: bold;
}

.signupComponentFormButton:hover{
  background-color: rgb(106, 81, 81);
}
/* =================== dashboard ===================== */
/*
.dashboardPage{
  background-color: rosybrown;
}
.dashboardPageBody{
  background-color: rosybrown;
}

.dashboardPageTableParent{
  background-color: rosybrown;
}

.DashboardPageTable{
  width: 800px;
  margin-left: 20%;
  margin-bottom: 20px;
  background-color: black;
  color: white;
}

.dashboardComponent{
position: relative;
}

.dashboardComponentLineChartsMainParent{
  padding-top: 50px;
}

.dashboardComponentLineChartParent{
  height: 300px;
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  position: relative;
}

.dashboardComponentLineChartTitle{
  color: white;
  margin-left: 40%;
  font-size: larger;
  font-weight: bolder;
}

.dashboardComponentLineCharts{
  width: 400px;
  height: 200px;
  position: relative;
} 

.dashboardPageTableTitle{
  font-size: xx-large;
  font-weight: bolder;
  margin-bottom: 10px;
}

.dashboardPageFooter{
  background-color: black;
  height: 200px;
  
}

.canvas-container {
  height: 60vh;
  width: 60vw;
  position: relative;
}

@media (min-width: 768px) {
   .canvas-container {
       height: auto;
       width: auto;
    }
}
*/

/* ====================== dashboard new syle ====================== */

.dashboardPage{
  background-color: rosybrown;
 }
.dashboardPageBody{
  background-color: rosybrown;
}


.dashboardComponentLineChartsMainParent{
 /* padding-top: 50px;*/

 
}

.dashboardComponentLineChartParent{
  position: relative;
  margin-top: 30px
}

.dashboardComponentLineCharts{
 
  height: 500px;
}

.dashboardComponentNumber{
  background-color: rgb(61, 44, 44);
  color: white;
  width: 250px;
  height: 100px;
  border-radius: 10px;
  margin-left: 20px;
}

.dashboardComponentNumberTitle{
 
 margin-left: 20px;
  font-size: 20px;
}

.dashboardComponentNumberChild{
  margin-left: 20px;
  font-size: 50px;
}



.dashboardPageTableParent{
  background-color: rosybrown;
  padding-bottom: 20px;
  padding-top: 30px;
}



.DashboardPageTable{
  width: 1100px;
  margin-left: 20%;
 
 
}


.dashboardPageFooter{
  background-color: black;
  height: 200px;
  
  
}
/*
.dashboardComponent{
position: relative;
}

*/
/*
.dashboardComponentLineChartTitle{
  color: white;
  margin-left: 40%;
  font-size: larger;
  font-weight: bolder;
}

.dashboardComponentLineCharts{
  width: 400px;
  height: 200px;
  position: relative;
} 

.dashboardPageTableTitle{
  font-size: xx-large;
  font-weight: bolder;
  margin-bottom: 10px;
}


*/
/*
.canvas-container {
  height: 60vh;
  width: 60vw;
  position: relative;
}

@media (min-width: 768px) {
   .canvas-container {
       height: auto;
       width: auto;
    }
}*/

/* ========== */
.pagesCartBody{
  min-height: 433px;
}
.componentCartImageParentLiMediaQuery{
  display: none
}

.componentCartDeleteIconMediaQuery{
  display: none;
}

.checkoutComponentDropdownMediaQuery{
  display: none;
}

.layoutHeaderSidebarCartParentMediaQuery{
  display:none
}

.layoutHeaderSidebarPlateDetailParentMediaQuery{
  display: none
}

.pagesCartCheckoutMediaQuery{
  display: none
}

.placeOrderComponentImageLiMediaQuery{
  display: none;
}

.placeOrderComponentDeleteIconMediaQuery{
  display: none
}

.loginPageDropdownMediaQuery{
  display: none
}

.layoutHeaderAuthenticationMediaQuery{
  display: none
}

.sideNavComponent{
  display: none;
}

/* ========== dropdown media query ================= */

@media (max-width: 767px){

  .header{
    width: 1400px;
    /*margin-left: 50px;*/
   }

   .layoutHeaderAuthenticationMediaQuery{
    display: block;
   }

   .layoutHeaderAuthentication{
    display: none;
   }
  
.logo{
  display: none;
}
  .middleItemParent{
    display: none;
  }

  .layoutHeaderSidebarCartParentMediaQuery{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
   }
  
   .layoutHeaderSidebarCartParent{
    display: none;
   }

   .layoutHeaderSidebarMediaQuery{
  
    color: black;
   width: 1000px;
    min-height: fit-content;
    font-size: xx-large;
    position: fixed;
   }

   .layoutSidebarLink{
    text-decoration: none;
    color: black;
   }

   .layoutHeaderMenuItem{
    border: 2px solid black;
    height: 100px;
    padding-top: 20px;
   }

   .layoutHeaderCartIconLink{
    text-decoration: none;
    color: white;
   }

   .BackgroundImgTextH2{
      font-size: 100px;
   }

   /* =========== media query menu Background-color ===================== */

   .menuBackgroundImg{
    width: 1570px;
    height: 4000px;
   }

   .pageMenu{
    
    width: 1570px;
    height: 1200px;
   }

   .menu{
    width: 1400px;
   margin-left: 20px;
   margin-right: 20px;
   
   }

   .menuMainLink{
    font-size: 50px;
   }

  

   .menuImage{
    width: 1000px;
    height: 700px;
   border-radius: 20px;
   }

   .menuButton{
    width: 900px;
    font-size: 70px;
    height: 90px;
    border-radius: 20px;
   }
/*
   .layoutFooter{
    width: 1550px
   }
*/

.menuPageParent{
  width: 1570px
}
   
   /* =============== media query plateDetail ================== */

   .plateDetailHeader{
    display: none;
   }

   .plateDetailImageParent{
   
    width: 100%;
    height: 1500px
   }

   .plateDetailImage{
   
    width: 100%;

   
   }
   .plateDetailItemsParent{
    display: flex;
    flex-direction: column;
    width: 1400px;
    background-color: rosybrown;
    height: 2500px;
   }

   .plateDetailItem{
   
    font-size: 50px;
    padding-left: 50px;
    width: 80%;
    height: 800px;
   }

   .plateDetailDescription{
    width: 100%;
   }

   .plateDetailButton{
    width: 1000px;
    height: 180px;
    font-size: 100px;
   }
  
   .plateDetailFooter{
    width: 1400px;
   }

   .layoutHeaderSidebarPlateDetailParentMediaQuery{
    position: absolute;
    width: 1300px;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: 20px
   }

   /* ============= media query cart =============== */

   .pagesCart{
    width: 1570px;
    display: flex;
    flex-direction: column;
  
   }

   .pagesCartBody{
    min-height: 1900px;
    padding-top: 80px;
    margin-top: 90px;
   }

   .pagesCartCheckout{
     display: none;    
   }

   .componentCartImageParentLiMediaQuery{
    display: block;
   
   }

   .componentCartUl{
    margin-left: 30px;
    width: 1500px
   }

   .componentCartImageParentLi{
    display: none;
   }

   .componentCartulText{
    font-size: 60px;
   }

   .pagesCartCheckoutMediaQuery{
    position: relative;
    background-color: rgb(127, 95, 95);
    border-radius: 10px;
    width: 1500px;
    height: 500px;
    right: 10px;
    top: 90px;
    margin-left: 30px;
    border-radius: 30px;
    display: block;
     }

     .pagesCartCheckoutTitle{
      font-size: 80px;
     }

     .pagesCartCheckoutTotal{
      font-size: 80px;
     }

     .pagesCartCheckoutbtn{
      font-size: 80px;
      height: 100px;
      margin-left: 80px
     }

     .componentCartDeleteIconMediaQuery{
      display: block;
     }

     .componentCartDeleteIcon{
      display: none;
     }

     /* ==================== checkout media query ================ */

     .pagesCheckoutBody{
      width: 1570px;
      min-height: 1900px;
     }

     .checkoutComponent{
      height: 1400px;
      min-height: 1700px;
     }

     .componentCheckoutForm{
      width: 1000px;
      min-height: 1300px;
      font-size: 50px;
      margin-top: 150px;
     }

     .componentCheckoutFormTitle{
      font-size: 70px;
     }

     .checkoutComponentFormInput{
      min-height: 50px;
     }

     .checkoutPageFooter{
      width: 1570px
     }

     .checkoutComponentDropdownMediaQuery{
      display: block;
     }

     .checkoutPageHeader{
      display: none
     }

     .checkoutComponentFormButton{
      font-size: 50px;
      height: 100px;
     }

     .checkoutComponentFormInput{
      font-size: 50px;
     }


     /* ===================== place Order media query ====================== */

     .placeOrderPageBody{
      min-height: 1300px;
     }

     .placePageDropdownMediaQuery{
      min-height: 100px;
     }

     .placeOrderComponentTitle{
      font-size: 90px;
      margin-left: 90px;
     }

     .placeOrderComponentInfo{
     margin-left: 70px;
     }
     .placeOrderComponentItemsTitls{
      font-size: 70px;
      margin-top:30px
     }

     .placeOrderComponentItemsTitls{
      font-size: 70px;
      
     }

     .placeOrderPage{
   
      display: flex;
      flex-direction: column;
      background-color: rosybrown;
      width: 1570px;
     }

     .pagesPlaceOrderCheckoutTitle{
      font-size: 70px;
     }

     .pagesPlaceOrderCheckout{
      position: static;
     
      font-size: 60px;
      width: 1000px;
      min-height: 500px;
      margin: 10px auto;
     }

     .pagesPlaceOrderCheckoutbtn{
      height: 100px;
      font-size: 50px;
      margin-left: 100px;
     }

     .placeOrderComponentParent{
      display: flex;
      flex-direction: column;
     }

     .placeOrderComponentInfo{
     
      width: 1200px;
      font-size: 50px;
     }

     .placeOrderComponentItems{
    
      width: 1500px;
      font-size: 50px;
     }

     .placeOrderComponentImageLiMediaQuery{
      display: block;
     }

     .placeOrderComponentImageLi{
      display:none
     }

     .placeOrderComponentDeleteIconMediaQuery{
      display: block;
     }

    .placeOrderComponentDeleteIcon{
      display: none;
    }


    /* ========================== media query dashboard =================== */

    /*.dashboardPage{
      width: 1570px;
     background-color: black;
    }

    .dashboardPageBody{
      min-height: 9000px;
      

    }

    .dashboardComponentLineChartTitle{
      font-size: 70px;
    }

    .dashboardComponentLineChartParent{
      display: flex;
      flex-direction: column;
     
      min-height: 3000px;
    
    }

    .dashboardComponentLineCharts{
      width: auto;
      height: 800px;
      font-size: 50px;
    }
    */
/*
    .dashboardComponentLineCharts{
      width: 1000px;
      height: 700px;
      font-size: 90px;
      font-weight: bolder;
      padding-left: 20%;
      margin-left: 50px;
    }

   

    .DashboardPageTable{
      width: 1500px;
      min-height: 400px;
      margin-left: 10px;
      font-size: 40px;
    }


    .dashboardPageTableTitle{
      font-size: 70px;
    }

    .dashboardPageDropdownMediaQuery{
    
      height: 100px;
    }
*/


/* ====================== dashboard media query =============== */

.dashboardPage{
  width: 1570px;
  height:3000px;
}

.dashboardPageBody{
  min-height: 3000px;  
}

.dashboardComponentLineChartsMainParent{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 3000px;
}

.dashboardComponentLineChartParent{
  height: 900px;
  width: auto;
}

.dashboardComponentNumber{
  height: 150px;
  margin-left: 100px;
}

.dashboardComponentNumberTitle{
  font-size: 50px;
}


.dashboardPageTableParent{
  border: 5px solid rgb(74, 61, 61);
 
}

.DashboardPageTable{
  min-height: 70px;
  width: 1550px;
  margin-left: 0;
  font-size: 50px;
}


.dashboardPageTableTitle{
  font-size: 70px;
}

.dashboardPageDropdownMediaQuery{

  height: 100px;
}




    /* ================== login Media query =================== */

    .loginPage{
      width: 1500px;
     display: flex;
     flex-direction: column;
    }

    .loginPageBody{
      min-height: 1200px;
      margin-top: 90px;
    }

    .loginPageDropdownMediaQuery{
      display: block;
    }

    .loginComponent{
      min-height: 850px;
      margin-top: 30px;
    }

    .loginComponentForm{
      width: 900px;
      height: 850px;
    }

    .loginComponentFormTitle{
      font-size: 70px;
    }

    .loginComponentFormLabel{
      font-size: 50px;
    }

    .loginComponentFormInput{
      width: 850px;
      font-size: 50px;
    }

    .loginComponentFormSignInwithGoogleParent{
      margin-top: 20px;
      margin-left: 10px;
      width: 80%
    }

    .loginComponentFormSignInwithGoogle{
      font-size: 30px;
      height: 50px;
    }

    .loginComponentFormButton{
      font-size: 50px;
      margin-left: 20px;
      
    }

    .loginPageHeader{
      display: none;
    }

    .loginComponentFormLinkParent{
      font-size: 50px;
    }


    /* ======================== sign up media query ============================== */

    .signupPage{
    
      width: 1500px;
      display: flex;
      flex-direction: column;
    }

    .signupPageHeader{
      display: none
    }

    .signupPageDropdownMediaQuery{
     
      height: 100px;
      background-color: rosybrown;
    }

    .signupPageBody{
    
      min-height: 1300px;
    }

    .signupComponent{
      
      height: 1000px;
    }

    .signupComponentForm{
     
      width: 900px;
      height: 1000px;
    }

    .signupComponentFormTitle{
      font-size: 70px;
    }

    .signupComponentFormDiv{
      font-size: 50px;
    }

    .signupComponentFormInput{
      width: 850px;
      height: 90px;
      font-size: 50px;
    }

    .signupComponentFormButton{
      width: 500px;
      height: 70px;
      font-size: 50px;
    }

    .loginComponentFormLinkParent{
      margin-top: 20px;
    }

    /* ==================== about-us media query ========================== */

    .aboutComponent{
    
      height: 1000px;
    }

    .aboutComponentItemsParent{
   
      height: 100%;
      width: 100%;
    }

    .aboutComponentBackgroundImage{
      height: 100%;
      width: 50%;
      background-size: contain;
    }

    .aboutComponentTextParent{
      width: 50%;
      height: 100%;
      
    }

    .aboutComponentTextTitle{
      font-size: 50px;
    }

    .aboutComponentText{
      height: 90%;
      font-size: 50px;
      overflow: auto;
      margin-right: 50px;
    }

    /* ================== menu toastcontainer =================== */
/*
    .menuToastContainer{
      border: 10px solid red;
    }*/

    .toastContainer{
      width: 1000px;
      height: 200px;
      font-size: 90px;
      margin-left: 20%;
      margin-bottom: 90px;
    }


    /* =============== sideNav media query ====================== */

    .sideNavComponent{
      display: block;
      position: fixed;
      height: 500px;
    
    }

    
    .sideNavComponentNav{
       

    }

    .sideNavComponentNavItems{
      margin-top: 20px;
    }

    .sideNavComponentNavText{
      margin-top: 20px;
    }

    
    .sideNavComponentLinks{
      font-size: 50px;
      text-decoration: none;
    }

    
}

